/* Navbar */
nav {
    font-family: 'Cabin', sans-serif;
  }
  .navbar-nav a:focus,
  .navbar-nav a:hover {
   color:#23527c;
   text-decoration:none;
  }
  .navbar-nav > li{
              padding-left:1px;
              padding-right:1px;
              letter-spacing: 1px;
          }
      
          .navbar-light .navbar-brand{
              font-family: 'Nunito', sans-serif;
              font-weight: 600;
              font-size: 1.3rem;
              
          }
          
          a.navbar-brand span{
              font-size: 1.7rem;
              font-weight: 900;
          }
          .navbar-dark .navbar-nav .nav-link{
              color: #a18c8c;
          }
          .navbar-dark .navbar-nav .nav-link:hover {
              color: #ffffff;
          }
          .nav-item:hover {
              background-color: #749F82; 
              color: #ffffff;
              border-radius: 0.5rem;
          }
  /* Navbar Ends */
/* Footer  */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  text-align: left;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration:none;

}
.site-footer a:hover
{
  color:#7C6EB0;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#7C6EB0;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.img-footer {
  width:40%;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  .navbar-brand {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .kauTab p { 
    margin: 1rem 0 1rem 0;
    padding: 1rem 0;
  }
  .owl-prev, .owl-next {
    display: none; 

  }
  .spotlight iframe {
    border-radius: 0.4rem;
    background: cover;
    height: 240px;
    width: 425px;
    margin: 2rem 0;
    transition-delay: 400ms;
}
.img-footer {
  max-width: 40%;
  height: auto;
  margin: 1rem auto;
}
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.youtube:hover
{
  background-color:#ea4c4c
}
.social-icons a.phone:hover
{
  background-color:#e77a59
}
.social-icons a.whatsapp:hover
{
  background-color:#4cea59
}
.site-footer img {
    display: block;
    
}
.site-footer p:nth-child(2) {
    display: block;
    margin: auto;
    
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
#phoneNumber {
  display: inline-block;
}

/* Footer ends */